/* 
    Document   : jevcustom
    Created on : 22-Apr-2013, 14:12:51
    Author     : Tony Partridge - GWE Systems Ltd
    Description: To allow customisation of CSS Strings where they can never be lost.
    Purpose of the stylesheet follows.
*/
/* dans components/com_jevents/views/geraint/assets/css/modstyle.css */
.mod_events_td_daywithevents
{
    background-color: #ebf4dd;
    padding:0px !important;
    width:18px!important;
    border: 1px solid #888888;
}

.nomargin p
{
  margin: 3px!important;
  font-weight: bold;
}

.jevtt_overide span.fwb
{
  font-size: smaller;
}


td.mod_events_latest_first, td.mod_events_latest {
}

