/* General color defination
Color value depend on preset color that picking on template settings > Presets
*/

:root {
    --background-color: currentColor;
    --background: currentColor;
    --text-color: currentColor;
}
#sp-top-bar,
.button.subbutton,
.skills .progress-bar,
.skills span, 
.skills pan:after,
#offcanvas-toggler,
#sp-bottom,
#sp-footer,
.line-title .sppb-section-title:before,
div.k2ItemsBlock ul li:after,
div.k2ItemsBlock ul li:hover .moduleItemReadMore:after,
.skill-box .skills-circle  ul > li,
.skill-box .skills-circle ul > li > span.bar-circle-cover,
div.itemCommentsForm form input#submitCommentButton,
div.itemCommentsForm form input#submitCommentButton:hover,
.creativecontactform_wrapper input.creativecontactform_send,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:after {
    background-color: var(--background-color);
}
.sp-megamenu-parent > li .sp-menu-badge {
   background: var(--background-color);
}
.lt-blog h3,
.skills .cont p,
.video-item figure a:hover:after,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li:hover > a,
div.k2ItemsBlock ul li a, #sp-bottom .shrewd_solution_icon ul li a {
	color: var(--text-color);
}
.button.subbutton:hover,
#sp-bottom1 ul:hover .text,
#sp-bottom1 ul:hover .icon em,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a,
.lt-title h3, .lt-title-small, .lt-counter-item h1, .lt-programs-item h3,
.lt-packages-item ul li em, .lt-contact-icon a, .lt-contact-list em,
.lt-team-item h3 {
  color: var(--text-color)!important;
}
.button.subbutton,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a,
.lt-about .sppb-row:before,
.lt-programs-item:hover img, .lt-choose-img img, .lt-divider,
.lt-packages-item:hover, .lt-contact-home .sppb-row:before,
.lt-about-img:before, .lt-team-item:hover, 
.lt-testimonials .sppb-col-md-4 .sppb-column:hover, .lt-testimonials-img img {
  border-color:var(--text-color)!important;
}
#sp-footer,
.btn-large, .button.btn-large,
.j2store-cart-button.btn.btn-primary:hover,
.sppb-panel-modern>.sppb-panel-heading.active:after,
.sp-megamenu-parent > li > a:before,
#sp-bottom .button.subbutton.btn.btn-primary,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.lt-btn, .lt-packages-item h2:before, .lt-packages-item.center,
.lt-contact-form > .sppb-column-addons, .lt-testimonials-icon i {
  background: var(--background-color)!important;
}
.video-item figure a:after:hover {
	border: 1px solid var(--text-color);
}