/*** General ***/
.lt-btn,
.lt-slider-btn a,
.button.subbutton,
#sp_qc_submit {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 14px 35px;
    text-transform: uppercase;
    font-size: 17px;
    background: transparent;
    color: #fff !important;
    font-weight: 400;
    letter-spacing: 0;
    border-radius: 5px !important;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border: none;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 19%);
}
.lt-btn:hover {
    background-color: #65C502 !important;
    color: #fff !important;
}
.lt-btn.white:hover {
    background-color: transparent;
    color: #000 !important;
}

body {
    font-size: 15px;
    line-height: 1.9em;
    color: #828282;
}
a:hover {
  color:#333;
}
/*** Top head ***/
#sp-top1 p,
.sp-contact-info li,
#sp-top-bar a {
    margin-bottom: 0;
    color: #fff;
}
#sp-top-bar ul.social-icons > li {
    margin: 0;
    border-right: 1px solid #fff;
}
#sp-top-bar ul.social-icons > li:first-child {
    border-left: 1px solid #fff;
    margin-left: 20px;
}
#sp-top-bar a {
    padding: 10px;
}
#sp-top-bar li i {
    color: #ffa516;
}

/*** Head ***/
#sp-header {
  	box-shadow: none;
    height: inherit;
    background: transparent;
  	top: 0px;
  	padding: 0;
}
body:not(.home) #sp-header {
    background: #000;
}
#sp-header .logo {
    height: 80px;
}
#sp-header.header-sticky {
    background-color: #0E0C0D;
    position: fixed;
  	border-radius: 0px;
    top: 0;
    box-shadow: 0px 16px 46px -13px rgb(0 0 0 / 77%);
    padding: 0;
}
body:not(.home) #sp-header.header-sticky {
    position: fixed;    
}
#sp-header.header-sticky .logo {
    height: 80px;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}
#sp-header.header-sticky .sp-megamenu-parent > li > a {
    padding: 0;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}
#sp-header .logo-image,
.sp-megamenu-parent > li > a {
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}
#offcanvas-toggler {
    position: relative;
    width: 70px;
    height: 70px;
}
#offcanvas-toggler > .fa,
#offcanvas-toggler > .fa:before,
#offcanvas-toggler > .fa:after {
    content: "";
    top: 34px;
    position: absolute;
    left: 25px;
    height: 2px;
    width: 18px;
    background-color: #fff;
    border-radius: 12px;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}
#offcanvas-toggler > .fa:before {
    left: 0;
    top: -6px;
    width: 10px;
}
#offcanvas-toggler > .fa:after {
    left: initial;
    right: 0;
    top: 6px;
    width: 10px;
}
#offcanvas-toggler:hover > .fa:before,
#offcanvas-toggler:hover > .fa:after {
    width: 18px;
}
#sp-menu {
    padding-left: 0;
}
.sp-megamenu-parent {
    display: flex!important;
    width: calc(100% - 75px);
}
.sp-megamenu-parent > li {
    flex: 1;
    text-align: center;
}
.sp-megamenu-parent > li li {
    text-align: left;
}
.sp-megamenu-parent > li:last-child {
    border-right: 0;
}
.sp-megamenu-parent > li > a {
    width: 100%;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
}
.sp-megamenu-parent > li li a {
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    font-weight: 300!important;
}
.sp-megamenu-parent > li li a:hover {
    padding-left: 7px!important;
}
.sp-megamenu-parent > li li a:before {
    content: '+';
    left: -25px;
    width: 20px;
    position: relative;
    color: #001659;
    font-size: 18px;
    font-weight: 400!important;
    line-height: inherit;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    opacity: 0;
}
.sp-megamenu-parent > li li a:hover:before {
    opacity: 1;
    left: -5px;
}
body.ltr .sp-megamenu-parent > li.sp-has-child > a:after, 
body.ltr .sp-megamenu-parent > li.sp-has-child > span:after {
    position: absolute;
}
.sp-megamenu-parent > li.active > a {
    font-weight: 600;
}

/*** Slider ***/
.lt-slider {
  	margin-top: -100px !important;
}
.sentence:hover {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    -ms-transition: all .3s linear;
    transition: all .3s linear;
    transform-origin: 50% 50% 0px;
    transform-style: preserve-3d;
    transform: matrix(1, 0, 0, 1, 11.7, 5.92);
}

/*** Title ***/
.lt-title h2  {
    font-size: 50px;
    text-transform: uppercase;
}
.lt-title-bg h2 {
    font-size: 80px;
}

/*** Counter ***/
.lt-counter .sppb-col-md-3:first-child .clearfix {
    border-radius: 25px 0px 25px 0px;
}
.lt-counter .sppb-col-md-3:last-child .clearfix {
    border-radius: 0px 25px 0px 25px;
}
.lt-counter .sppb-col-md-3:last-child .lt-counter-item {
    border-right: none;
}
.lt-counter-item {
    padding: 30px 20px;
    margin: 20px 0px;
    border-right: 1px solid #FFFFFF1A;
    box-shadow: 0px 16px 46px -13px rgb(0 0 0 / 77%);
}
.lt-counter-item h1 {
    font-size: 65px;
}
.lt-counter-item h6 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}

/*** About ***/
.lt-about .sppb-row {
    position: relative;
}
.lt-about .sppb-row:before {
    content: '';
    position: absolute;
    left: 2%;
    top: 4%;
    height: 92%;
    width: 96%;
    z-index: 2;
    border: 1px solid;
    border-radius: 20px;
}
.lt-about .sppb-col-md-6:last-child {
    position: relative;
    z-index: 3;
}
.lt-about-img {
    position: relative;
}
.lt-about-img img {
    margin: 20px 0;
}
.lt-about-img:before {
    position: absolute;
    content: '';
    left: 2%;
    top: 0;
    height: 100%;
    width: 96%;
    border: 1px solid;
    z-index: 2;
    border-radius: 25px;
}
.lt-about .sppb-row img {
    transition: all .4s ease-out 0s;
    -webkit-transition: all .4s ease-out 0s;
}
.lt-about .sppb-row:hover img {
    transform: scale(0.9);
}

/*** Programs ***/
.lt-programs-item img {
    border-radius: 20px;
    border: 2px solid transparent;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

/*** Choose ***/
.lt-choose-img img {
    border: 2px solid;
}

.borderKT {
    animation: xoayvong 10s linear 0s infinite;
    -webkit-animation: xoayvong 10s linear 0s infinite;
    -moz-animation: xoayvong 10s linear 0s infinite;
    -o-animation: xoayvong 10s linear 0s infinite; 
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong{
  from{
          -webkit-transform:rotate(0deg);
          -moz-transform:rotate(0deg);
          -o-transform:rotate(0deg);
      }
    to{
          -webkit-transform:rotate(360deg);
          -moz-transform:rotate(360deg);
          -o-transform:rotate(360deg);
  }
}

/*** Packages ***/
.lt-packages-item  {
    padding: 40px 25px;
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid transparent;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.lt-packages-item h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 28px;
}
.lt-packages-item h2:before {
    content: '';
    position: absolute;
    left: 0;
    width: 70px;
    bottom: 0;
    height: 3px;
}
.lt-packages-item ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.lt-packages-item ul li em {
    padding-right: 10px;
}
.lt-packages-item ul li strong {
    display: none;
}
h3.lt-packages-size {
    font-size: 55px;
    margin: 20px 0;
}
span.lt-packages-session {
    font-size: 20px;
    color: #FFFFFFA1;
}
.lt-packages-item.center .lt-title-small {
    color: #000 !important;
}
.lt-packages-item.center h2:before {
    background-color: #000 !important;
}
.lt-packages-item.center h2,
.lt-packages-item.center ul li em {
    color: #fff !important;
}
.lt-packages-item.center .lt-btn {
    background-color: #000 !important;
}

/*** Contact Home ***/
.lt-contact-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.lt-contact-list li {
    margin-bottom: 10px;
}
.lt-contact-list em {
    padding-right: 10px;
}
.lt-contact-list strong {
    display: none;
}
.lt-contact-home .sppb-row {
    position: relative;
}
.lt-contact-home .sppb-row:before {
    content: '';
    position: absolute;
    left: 2%;
    top: 4%;
    height: 92%;
    width: 97%;
    z-index: 2;
    border: 1px solid;
    border-radius: 20px;
}
.lt-contact-icon strong {
    display: none;
}
.lt-contact-icon a {
    font-size: 20px;
    padding-left: 10px;
}

/*** Skill ***/
.lt-skill.lt-bg-top:before {
    border-top-color: #0A0A0B;
}
.skills h3{
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #737373;
    margin: 0px;
    font-size: 35px
}
.skills p{
    font-size: 16px;
    margin-bottom: 6px
}
.skills .progress{
    width: 100%;
    height: 6px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: inherit;
}
.skills .progress .progress-bar{
    width: 0;
    height: 100%;
    border-radius: 10px;
}
.skills .progress .progress-bar span{
    top: -30px;
    margin-left: -22px;
    left: 0;
    position: absolute;
    color: #fff;
    border-radius: 2px;
    padding: 4px 10px;
    font-size: 12px
}
.skills .progress .progress-bar span:after{
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    position: absolute;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    transform: rotate(45deg)
}
.blue .progress-bar ,.blue span ,.blue span:after{
    background-color: #3498db
}
.red .progress-bar ,.red span ,.red span:after{
    background-color: #e74c3c
}
.green .progress-bar ,.green span ,.green span:after{
    background-color: #2ecc71
}
.carrot .progress-bar ,.carrot span ,.carrot span:after{
    background-color: #e67e22
}
.sun .progress-bar ,.sun span ,.sun span:after{
    background-color: #f1c40f
}

/*** Team ***/
.lt-team-item {
    background: #0E0C0D;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid transparent;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.lt-team-item .sppb-img-container {
    position: relative;
}
.lt-team-item .sppb-img-container:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, #0e0c0d 0%, #99f113 100%);
    border-radius: 20px 20px 0px 0px;
    opacity: 0;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.lt-team-item:hover .sppb-img-container:before {
    opacity: 0.2;
}
.lt-team-item .sppb-img-container img {
    border-radius: 20px 20px 0px 0px;
}

/*** Testimonial ***/
.lt-testimonials .sppb-col-md-4 {
    margin-bottom: 50px;
}
.lt-testimonials .sppb-col-md-4 .sppb-column {
    border-radius: 15px;
    padding: 10px 10px 30px 10px;
    border-bottom: 2px solid transparent;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.lt-testimonials-icon i {
    width: 35px !important;
    height: 35px !important;
    line-height: 35px !important;
    border-radius: 5px !important;
}
.lt-testimonials-img img {
    border: 2px solid;
}

/*** Video ***/
.lt-work {
    z-index: 2!important;
}
.lt-work .sppb-row > div:nth-child(1) {
    position: relative;
    z-index: 2;
}
.lt-video-left .clearfix:nth-child(n+2) {
    display: inline-block;
}
.lt-video {
    min-width: 80px;
    min-height: 80px;
}
#video-popup-container {
    display:none;
    position: fixed;
    z-index: 996;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    top: 20%;
    background-color: #fff;
}
.lt-video a {
    font-size: 0;
    position: relative;
    left: 32px;
}
.lt-video a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    width: 65px;
    height: 65px;
    margin-top: -32.5px;
    margin-left: -32.5px;
    border-radius: 50%;
    background-color: #fe688b;
    z-index: 10;
}
.lt-video a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 57%;
    margin-top: -10.5px;
    margin-left: -7px;
    border: solid 11px transparent;
    border-left: solid 17px;
    border-left-color: #fff;
    z-index: 10;
}
#video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 998;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    line-height: 25px;
    color: #fff;
    opacity: 1;
}
#video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 56.25%;
    border: 2px solid #000;
    border-radius: 2px;
    background-color: #000;
}
#video-popup-iframe {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
}
#video-popup-overlay {
    display: none;
    position: fixed;
    z-index: 995;
    top: 0;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    left: 0;
}
#video-popup-close:hover {
    color: #DE0023;
}
.lt-btn-no-bg,
.lt-btn-no-bg:hover {
    background: none;
    border: 0;
}

/*** Blog Default ***/
div.k2ItemsBlock ul li a.moduleItemImage {
    display: inline-block;
    width: 100%;
}
div.k2ItemsBlock ul li a.moduleItemImage img {
    width: 100%;
}
div.k2ItemsBlock ul li {
    width: 49%;
    float: left;
    margin-right: 1%;
}
div.k2ItemsBlock ul li:nth-child(2n) {
    margin-right: 0;
}
div.k2ItemsBlock ul li a.moduleItemReadMore {
    display: inherit;
}
.com-k2 div.k2ItemsBlock ul li .moduleItemImage,
.com-k2 div.k2ItemsBlock ul li .moduleItemImage img {
    width: 100%;
}
#sp-left .sp-module ul, #sp-right .sp-module ul {
    display: inline-block;
}

/*** Blog ***/
.lt-blog .lt-title h1:before {
    right: 0;
    margin: 0 auto;
}
.lt-blog div.k2ItemsBlock ul li {
    position: relative;
    padding: 21px 10px 32px 10px;
    background: #fff;    
}
.lt-blog div.k2ItemsBlock ul li a.moduleItemImage {
    overflow: hidden;
}
.lt-blog div.k2ItemsBlock ul li a.moduleItemImage img {
    padding: 0;
    -webkit-transition: all  1500ms ease;
    -ms-transition: all  1500ms ease;
    transition: all  1500ms ease;
}
.lt-blog div.k2ItemsBlock ul li:hover a.moduleItemImage img {
    opacity: .4;
    transform: scale(1.3);
}
.lt-blog div.k2ItemsBlock ul li div.moduleItemIntrotext {
    padding: 0;
}
.lt-blog div.k2ItemsBlock ul li span.moduleItemDateCreated {
    font-size: 12px;
    line-height: 2.33em;
    text-transform: uppercase;
    color: #565969;
    letter-spacing: .1em;
    font-weight: 500;
    padding: 0px 0 0px;
    display: inline-block;
}
.lt-blog div.k2ItemsBlock ul li a.moduleItemTitle {
    line-height: 1.15em;
    font-size: 20px;
    color: #383838;
    font-weight: 600;
    height: 48px;
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 0px;
}
div.k2ItemsBlock ul li .moduleItemReadMore {
    position: relative;
    font-size: 16px;
    letter-spacing: .02em;
    margin-top: 7px;
    font-weight: 500;
    color: #001659;
}
div.k2ItemsBlock ul li.clearList {
    display: none;
}
.com-k2 div.k2ItemsBlock ul li {
    width: 100%;
    margin: 0;
}
#sp-left .sp-module ul > li, 
#sp-right .sp-module ul > li {
    display: block;
    border-bottom: 1px solid #f3f3f3;
}
div.k2ItemsBlock ul li a.moduleItemComments {
    border-right: 0;
}

/*** Contact ***/
.lt-contact-info {
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}
.lt-contact-text p {
    font-style: italic;
    font-size: 13px;
    color: #000;
}
.lt-contact-text h6 {
    color: #000;
}
.lt-contact-icon .shrewd_solution_icon ul li strong,  .bottom-contact strong {
    display: none;
}
.lt-contact-icon .shrewd_solution_icon ul,
.lt-contact-icon .shrewd_solution_icon ul li {
    display: inline-block!important;
    padding: 0px!important;
}
.lt-contact-icon .shrewd_solution_icon ul li a {
    font-size: 16px;
    background: #000000;
    height: 40px;
    color: #fff !important;
    width: 40px;
    line-height: 41px;
    text-align: center;
    border-radius: 50%;
    margin: 1px;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
}
.lt-contact-icon .shrewd_solution_icon ul li a:hover {
    background-color: #000 !important;
    color: #fff !important;
}

/*** Portfolio ***/
#lt-portfolio .sp-simpleportfolio-tags,
#lt-portfolio .sp-simpleportfolio-title {
    display: none!important;
}
.sp-simpleportfolio-btns {
    margin-bottom: 20px;
}
.sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay {
    position: relative;
}
.sp-simpleportfolio-overlay-wrapper .sp-simpleportfolio-overlay:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .75!important;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns .btn-view {
    display: none;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns .btn-zoom,
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns .btn-zoom:hover {
    font-size: 0;
    border: 0;
    position: absolute;
    top: -50px;
    right: 10px;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
    left: 0;
    right: 0;
    margin: 18% auto;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 12px 12px 12px;
    width: 44px;
    height: 44px;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-btns .btn-zoom {
    top: 20px;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns .btn-zoom:before {
    content: "\f0c1";
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 20px;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a:hover {
    background: none;
    border: 0;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-tags {
    display: inline-block;
    position: absolute;
    left: -50px;
    bottom: 70px;
    transform: rotate(-90deg)!important;
    -webkit-transform: rotate(-90deg)!important;
    -ms-transform: rotate(-90deg)!important;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-tags {
    left: 5%;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-title {
    position: absolute;
    bottom: 20px;
    display: inherit!important;
    opacity: 0;
    right: -100%;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-title {
    right: 10px;
}
.sp-simpleportfolio .sp-simpleportfolio-item:hover .sp-simpleportfolio-overlay {
    background: #b0a37e;
    opacity: 0.6;
}
.lt-portfolio .lt-btn {
    display: unset;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a {
    color: #fff !important;
    border: 2px solid;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    border-radius: 30px;
    border: 2px dashed;
    padding: 7px 20px;
    background: transparent;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle > div .sp-simpleportfolio-title {
    font-size: 14px;
}

/*** Step ***/
.lt-step .sppb-row > div:nth-child(n+2) {
    border-left: 1px solid #E6E6E6;
}
.lt-step-item h4 {
    color: #262626;
    font-size: 30px;
    font-weight: 400;
}
.lt-step-item h6 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sppb-panel-modern>.sppb-panel-heading.active  {
    color: #4D60A5 !important;
}
.sppb-panel-modern>.sppb-panel-heading {
    padding: 8px 30px 8px 15px;
    letter-spacing: 1px;
    background: #fff !important;
    color: #000;
}

/*** Contact Form ***/
.lt-contact-form > .sppb-column-addons {
    box-shadow: 0px 0px 80px 0px rgb(0 0 0 / 15%) !important;
    border-radius: 20px;    
    padding: 40px 40px 40px 40px;
}
#sp-quickcontact-form {
    text-align: left;
}
#sp-quickcontact-form textarea#message {
    width: 100%;
}
#sp-quickcontact-form input {
    width: 100%;
}
#sp-quickcontact-form .sp_qc_clr {
    display: none;
}
#sp-quickcontact-form textarea,
#sp-quickcontact-form input {
    margin-bottom: 20px;
    border-radius: 0;
}
#sp-quickcontact-form #sp_qc_submit {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-family: oswald,sans-serif;
    font-weight: 600;
    color: #fff!important;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease;
    padding: 0;
    width: auto;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 33px;
    border: 2px solid #01172F !important;
    background-color: #01172F !important;
    border-radius: 5px !important;
}
#sp-quickcontact-form #sp_qc_submit:hover {
    background: #fff!important;
    color: #01172F !important;
}

/*** Newsletter ***/
.lt-newsletter {
    position: relative;
}
.lt-newsletter:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 55%;
    height: 100%;
    display: inline-block;
    background: #192028;
}
.lt-newsletter table.acymailing_form {
    width: 100%;
    position: relative;
}
.lt-newsletter table.acymailing_form .inputbox {
    border-radius: 0;
    margin: 15px 0;
    padding: 15px;
}
.lt-newsletter table.acymailing_form td {
    text-align: left;
}
.lt-newsletter table.acymailing_form tr:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
}
.lt-newsletter table.acymailing_form .button.subbutton {
    margin-top: 16px;
    padding: 7px 34px;
    border-radius: 0;
}

/*** Bottom ***/
#sp-bottom {
    color: #a0aec6;
    padding-bottom: 0;
}
#sp-bottom > .container {
    padding: 10px 10px 30px;
}
.lt-bottom-column {
    max-width: 650px;
    margin: 0 auto!important;
}
#sp-bottom p {
    line-height: 2.2;
    color: #fff;
}
#sp-bottom .sp-module ul > li > a {
    color: #fff;
}
#sp-bottom h3 {
    margin: 0 0 20px;
    color: #fff;
    font-size: 19px;
    margin: 0 0 20px;
    line-height: 1em;
}
#sp-bottom p a {
    font-weight: 700;
    color: #fff;
}
.shrewd_solution_icon {
    margin-top: 20px;
}
.shrewd_solution_icon ul li strong,  .bottom-contact strong,
#sp-bottom2 strong {
    display: none;
}
.bottom-contact em,
#sp-bottom2 em {
    padding-right: 10px;
    color: #fff !important;
}
.shrewd_solution_icon ul,
.shrewd_solution_icon ul li {
    display: inline-block!important;
    padding: 0px!important;
}
.shrewd_solution_icon ul li a {
    font-size: 16px;
    background: #fff;
    height: 36px;
    width: 36px;
    line-height: 38px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    -webkit-transition: .5s;
    transition: .5s;
    box-shadow: 0 0 15px rgba(228, 200, 200, 0.5);
    display: inline-block;
}
.shrewd_solution_icon ul li a:hover {
    background: #fff !important; 
    color: #ff7f5f !important;
}
table.acymailing_form {
    margin: 0;
    border: 0px !important;
    width: 100%;
}
table.acymailing_form input {
    width: 100% !important;
}
#sp-bottom .button.subbutton.btn.btn-primary {
    padding: 8px;
    font-size: 14px;
    color: #fff !important;
}


/*** Footer ***/
#sp-footer {
    text-align: center;
}
#sp-footer,
#sp-footer a {
    color: #fff;
}
#sp-footer1 p {
    margin-bottom: 0;
    font-weight: 700;
    width: 33.33%;
    float: left;
}
.lt-footer-center {
    text-align: center;
}
.lt-footer-right {
    text-align: right;
}
.lt-footer-center img {
    margin: 0 auto;
} 
.lt-footer-left, .lt-footer-right {
    margin-top: 5px;
}
/*** Canvas Menu ***/
.offcanvas-menu .offcanvas-inner .sp-module ul > li a {
    padding: 9px;
    border-bottom: 1px solid rgba(197, 153, 153, 0.21);
}

/*** Resposive ***/
@media (min-width: 992px) and (max-width: 1280px) {
    .sp-megamenu-parent > li > a {
        padding: 0 4px;
    }
    .sp-megamenu-parent {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .sp-megamenu-parent {
        display: none!important;
    }
    .sppb-section-title .sppb-title-subheading {
        font-size: 30px!important;
    }
    div.k2ItemsBlock ul li > * {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    .lt-packages .sppb-col-md-4 {
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {
    div.k2ItemsBlock ul li {
        width: 100%;
        margin-right: 0;
    }
    #sp-header .logo {
        text-align: left;
        height: 70px;
    }
    .sppb-panel-collapse,
    .sppb-panel-modern>.sppb-panel-heading {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    .sppb-panel-modern>.sppb-panel-heading {
        padding-left: 20px!important;
    }
    #sp-quickcontact-form input {
        width: 100%!important;
        margin-right: 0!important;
    }
    .lt-title-bg h2 {
        font-size: 60px;
    }
    #sp-header {
        top: 0px;
        padding: 0;
    }
    #sp-header > .container {
        border-radius: 0px;
    }
}
@media (max-width: 767px) {
    #sp-footer1 p {
        width: 100%;
        text-align: center !important;
    }
}
