.bt-cs {
	z-index: 0;
}

#btcontentslider193 .bt_handles {
	z-index: 10;
}

div.rt-block{
  border-radius: 15px;
}

.search.rt-block .module-title  h2{
  font-size: large;
}

article .system-unpublished {
    background-color: #fff2f2;
}

div.noTop{
  	padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 0px;  
}

div.top5{
  	padding-top: 5px;
}

div.top10{
  	padding-top: 10px;
}

div.top15{
  	padding-top: 15px;
}

div.top20{
  	padding-top: 20px;
}

.mod_events_monthyear a.mod_events_link {
    color: rgb(240,240,240)!important;
}

.search.rt-block .module-content  div.searchsearch  input[type="search"]{
  margin-bottom: 5px;
}

.bt-cs .bt-inner .bt-title {
	color: #8f2424!important;
}

.bt-cs .bt_handles li a {
	background-image: url("../images/pagination_red.png");
}


ul.menu li.active.current > a {
  color:#74755d;
}

#rt-top-surround{
  padding:0px;
  background-color: transparent;
}

.blog-featured h2{
      font-weight: bolder;
}

a.slide{
  color:#8f2424;
}

.rt-block h2{
      font-weight: bolder;
}


#rt-main{
	background: #7f7f7f;
}

#rt-main .rt-block{
	background: #c5c2c2;
}

#rt-menu {
  background-color: #a9000b;
}

#rt-maintop .rt-container{
  background-color: #7f7f7f;
}

.mod_events_table {
  background-color: #2b2827;
}

.box1 {
    background: #c5c2c2;
    border: 1px solid #d5d5d5;
}

.component-content .item-separator {
    display: flex;
    margin: 10px;
    #border-bottom: #8BC34A;
    border-width: medium;
    border-style: solid;
}

#btcontentslider193 .bt_handles{
  
}

.boxplusFixedHeigh .boxplus-viewport{
	height: 250px!important;  
}

td.mod_events_latest_first, td.mod_events_latest{
  background-color: #c5c2c2!important;
}

.strong h2{
  font-weight: bold;
}

.strong h1,h2,h3,h4,h5{
  font-weight: bold;
}

.dropdown,.column {
  width:280px!important;
}

#rt-header .rt-block:not(.box1):not(.box2):not(.box3) {
  padding:0px;
  margin:0px;
}

/* Error page*/
.rt-error-content h1, .rt-error-content h2 {
    color: #ff0000;
}

/*@media (min-width: 1100px) {*/
#cont_5ecefcd39c67460d513b75b697fa47cf{
  /*margin-left: -15px!important;*/
  background-color: #c5c2c2!important;
}
  
@media (min-width: 1100px) {
#cont_c92d3339b880ccda8d6b02a268a023ff{
  margin-left: -15px!important;
  background-color: #c5c2c2!important;
}



.new27 #wlink .fondo{
  background-color: #c5c2c2!important;
}


@media (max-width: 1100px) {
